<app-page-title
  [title]="'Explora'"
  [subtitle]="'¡Descubre nuevas comunidades, publicaciones y personas en nuestra red social! Explora las últimas publicaciones, comunidades y personas en Spiral y encuentra contenido interesante para ti.'"
  [icon]="'fa-solid fa-compass'"
  [image]="'assets/images/explore.svg'"
></app-page-title>

<div class="card card-bordered shadow-md card-compact items-center my-2">
 <ul class="menu menu-vertical md:menu-horizontal w-fit rounded-box gap-2">
  <li><a routerLink="/explore/global-posts" routerLinkActive="active"><i class="fa-regular fa-earth-europe"></i>&nbsp;Publicaciones Globales</a></li>
  <li><a routerLink="/explore/meet-people" routerLinkActive="active"><i class="fa-solid fa-people"></i>&nbsp;Conoce gente nueva</a></li>
 </ul>
 </div>
 <router-outlet></router-outlet>
