  <button class="expand-btn btn btn-circle btn-ghost mx-1 tooltip tooltip-bottom" data-tip="Contraer Extender Menu" (click)="collapseSidebar()" type="button">
    <i class="fa-regular fa-arrow-left-from-line text-lg"></i>
    </button>



    <div class="dropdown dropdown-hover">
    <label class="input input-bordered items-center gap-2 mx-1 hidden md:flex">
      <input tabindex="0" type="text" class="grow" placeholder="Buscar..." />
      <i class="fa-regular fa-magnifying-glass text-xl"></i>
    </label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 gap-2 shadow bg-base-100 rounded-box w-52">
        <li><a>
          <div class="flex items-center gap-3 p-2">
            <app-avatar-frame profile_picture="assets/avatar/none.png" profile_size="xsmall" frame_name="flames"/>
          <div>
            <p class="font-medium">
              John Doe
            </p>
            <p class="text-sm">
              johnatanDoe
            </p>
          </div>
        </div></a></li>
        <li><a>
          <div class="flex items-center gap-3 p-2">
            <app-avatar-frame profile_picture="assets/avatar/none.png" profile_size="xsmall" frame_name="tech"/>
          <div>
            <p class="font-medium">
              John Doe
            </p>
            <p class="text-sm">
              johnatanDoe
            </p>
          </div>
        </div></a></li>
        <li><a>
          <div class="flex items-center gap-3 p-2">
            <app-avatar-frame profile_picture="assets/avatar/none.png" profile_size="xsmall" frame_name="fire"/>
          <div>
            <p class="font-medium">
              John Doe
            </p>
            <p class="text-sm">
              johnatanDoe
            </p>
          </div>
        </div></a></li>
      </ul>
    </div>

    <span class="flex-1-auto"></span>
    <app-create-publication-modal [username]="user.username"/>
    <app-language-selector/>

    <button class="btn btn-circle mx-1 hidden md:block tooltip tooltip-bottom" data-tip="Pantalla Completa" (click)="fullscreen()">
      @if (screenfull) {
        <i class="fa-regular fa-compress text-xl"></i>
      }@else {
        <i class="fa-regular fa-expand text-xl"></i>
      }
    
    </button>


    <div class="dropdown dropdown-end"> 
         <div class="indicator mx-1">
    <span class="indicator-item badge badge-secondary"></span> 
       <button tabindex="0" role="button" class="btn btn-circle tooltip tooltip-bottom" data-tip="Notificaciones">
    <i class="fa-regular fa-bell-ring text-xl"></i>
    </button>
    </div>
      <div tabindex="0" class="dropdown-content min-w-80 card transform-none w-fit rounded-lg z-[1] bg-base-200  shadow p-3">
        <div class="flex flex-col space-y-1.5 p-3" >
          <h3 class="whitespace-nowrap text-2xl font-semibold leading-none tracking-tight">Notificaciones</h3>
          <p class="text-sm text-muted-foreground">Tienes 6 notificaciones sin revisar</p>
        </div>
        <div class="divided"></div>
        <ul class="p-4 space-y-3 menu">
        <li class="group">
          <a
            class="-mx-2 flex items-start rounded-md p-2"
            href="#">
            <div class="bg-base-300 group-hover:bg-primary rounded-md flex items-center justify-center aspect-square w-10 h-10">
              <i class="fa-regular fa-message-dots"></i>
            </div>
            <div class="space-y-1">
              <p class="font-medium">Fernando te ha mandado un mensaje</p>
              <p class="text-xs">Hace 5 minutos</p>
            </div>
          </a></li>
          <li class="group">
          <a
          class="-mx-2 flex items-start rounded-md p-2"
          href="#">
          <div class="bg-base-300 group-hover:bg-primary rounded-md flex items-center justify-center aspect-square w-10 h-10">
            <i class="fa-regular fa-user-tag"></i>
          </div>
          <div class="space-y-1">
            <p class="font-medium">Alfredo te ha mencionado en una publicacion</p>
            <p class="text-xs">Hace 5 minutos</p>
          </div>
        </a></li>
        <li class="group">
        <a
        class="-mx-2 flex items-start rounded-md p-2"
        href="#">
        <div class="bg-base-300 group-hover:bg-primary rounded-md flex items-center justify-center aspect-square w-10 h-10">
          <i class="fa-regular fa-child-reaching"></i>
        </div>
        <div class="space-y-1">
          <p class="font-medium">Fernando Alonso ha reaccionado a tu publicacion</p>
          <p class="text-xs">Hace 33 minutos</p>
        </div>
      </a></li>
      <li class="group">
      <a
      class="-mx-2 flex items-start rounded-md p-2"
      href="#">
      <div class="bg-base-300 group-hover:bg-primary rounded-md flex items-center justify-center aspect-square w-10 h-10">
        <i class="fa-regular fa-share-nodes"></i>
      </div>
      <div >
        <p class="font-medium">Sete compartido tu publicacion</p>
        <p class="text-xs">Hace 8 horas</p>
      </div>
    </a>
    </li>
      <button class="btn btn-primary">Ver más notifiaciones <i class="fa-regular fa-chevrons-right"></i></button>
        </ul>
      </div>
    </div>
<app-userzone [user]="user"></app-userzone>