  <button class="expand-btn btn btn-circle btn-ghost mx-1" (click)="collapseSidebar()" type="button">
    <i class="fa-regular fa-arrow-left-from-line text-lg"></i>
    </button>
    <label class="input input-bordered items-center gap-2 mx-1 hidden md:flex">
    <input type="text" class="grow" placeholder="Buscar..." />
    <i class="fa-regular fa-magnifying-glass text-xl"></i>
    </label>
    <span class="flex-1-auto"></span>
    <button class="btn btn-circle mx-1 hidden md:block">
    <span class="icon-[emojione--flag-for-spain] w-7 h-7"></span>
    </button>
    <button class="btn btn-circle mx-1 hidden md:block" (click)="fullscreen()">
      @if (screenfull) {
        <i class="fa-regular fa-compress text-xl"></i>
      }@else {
        <i class="fa-regular fa-expand text-xl"></i>
      }
    
    </button>
    <div class="indicator mx-1">
    <span class="indicator-item badge badge-secondary"></span> 
       <button class="btn btn-circle ">
    <i class="fa-regular fa-bell-ring text-xl"></i>
    </button>
    </div>
    <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn mx-1 rounded-3xl"><div class="flex align-items-center">
      <img [src]="user.profile_picture" class="rounded-full w-7 h-7">
      <div class="ml-2 text-left hidden d-none d-lg-flex">
        <div><h5 class="f-s-16">{{user.fullname}}</h5>
        <span class="f-s-14 mat-body-1">{{user.username}}</span></div>
        </div>
      </div>
    </div>
    <ul class="p-2 shadow gap-2 menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
      <li><a class="flex items-center p-3 text-sm" target="_blank">
        <img class="flex-shrink-0 object-cover mx-1 rounded-full w-9 h-9" [src]="user.profile_picture" alt="user avatar">
        <div class="mx-1">
            <h1 class="text-sm font-semibold">{{user.fullname}}</h1>
            <p class="text-sm">{{user.username}}</p>
        </div>
    </a></li>
      <li><a>Item 2</a></li>
    </ul>
    </div>

<!-- <header class="flex justify-between">
    <a routerLink="/" class="flex mx-auto mx-0 justify-center xl:justify-normal items-center py-3">
      <img src="assets/images/spiral.png" class="h-6 me-3 sm:h-9" alt="Spiral Logo">
      <span class="self-center text-3xl font-semibold whitespace-nowrap font-['Righteous'] color-logo">Spiral</span>
   </a>
    <app-userzone></app-userzone>
  </header> -->