  <button class="expand-btn btn btn-circle btn-ghost mx-1" type="button">
    <i class="fa-regular fa-arrow-left-from-line"></i>
    </button>
    <label class="input input-bordered items-center gap-2 mx-1 hidden md:flex">
    <input type="text" class="grow" placeholder="Buscar..." />
    <i class="fa-regular fa-magnifying-glass text-xl"></i>
    </label>
    <span class="flex-1-auto"></span>
    <button class="btn btn-circle mx-1 hidden md:block">
    <span class="icon-[emojione--flag-for-spain] w-7 h-7"></span>
    </button>
    <button class="btn btn-circle mx-1 hidden md:block">
    <i class="fa-regular fa-expand text-xl"></i>
    </button>
    <div class="indicator mx-1">
    <span class="indicator-item badge badge-secondary"></span> 
       <button class="btn btn-circle ">
    <i class="fa-regular fa-bell-ring text-xl"></i>
    </button>
    </div>
    <div class="dropdown">
    <div tabindex="0" role="button" class="btn mx-1 rounded-3xl"><div class="flex align-items-center">
      <img src="https://i.imgur.com/Eyql9YR.jpg" class="rounded-full w-7 h-7">
      <div class="ml-2 text-left d-none d-lg-flex">
        <div><h5 class="f-s-16">AndresCS</h5>
        <span class="f-s-14 mat-body-1">andres</span></div>
        </div>
      </div>
    </div>
    <div tabindex="0" class="dropdown-content z-[1] card card-compact w-64 p-2 shadow bg-primary text-primary-content">
      <div class="card-body">
      <h3 class="card-title">Card title!</h3>
      <p>you can use any element as a dropdown.</p>
      </div>
    </div>
    </div>

<!-- <header class="flex justify-between">
    <a routerLink="/" class="flex mx-auto mx-0 justify-center xl:justify-normal items-center py-3">
      <img src="assets/images/spiral.png" class="h-6 me-3 sm:h-9" alt="Spiral Logo">
      <span class="self-center text-3xl font-semibold whitespace-nowrap font-['Righteous'] color-logo">Spiral</span>
   </a>
    <app-userzone></app-userzone>
  </header> -->