<div class="bg-base-200 rounded-lg shadow-md p-4"> 
 <h1 class="text-xl font-medium pb-2">
   Sobre {{community.fullname | slice:0:20}}
 </h1>
   <p>
{{community.description}}
   </p>
   @if(community.rules.length>0){
   <div class="my-2">
    <div class="divider"></div>
     <h3 class="text-lg font-medium">Reglas de la Comunidad</h3>
     <ul class="list-disc pl-6 mt-2 space-y-2">
      @for (rule of community.rules; track $index) {
       <li><strong>{{rule.title}}</strong>: {{rule.content}}</li>
      }
     </ul>
   </div>
  }
  @if (community.buttons.length > 0) {
    <div class="my-2">
      <div class="divider"></div>
      <h3 class="text-lg font-medium">Enlaces de la Comunidad</h3>
      @for (button of community.buttons; track $index) {
        <a href="{{button.url}}" class="btn btn-{{button.color}} w-full mt-2"><i class="fa-regular {{button.icon}}"></i>{{button.title}}</a>
      }
      </div>
    }
   <div>
     <h3 class="text-lg font-medium"><i class="fa-regular fa-hat-cowboy"></i> Dueño de la Comunidad</h3>
     <a routerLink="/profile/{{community.owner.username}}/feed" class="flex items-center gap-2 mt-2 btn btn-ghost align-left">

       <span>
         <h4 class="font-medium">{{community.owner.fullname}}</h4>
         <p class="text-sm">{{community.owner.username}}</p>
       </span>
     </a>
   </div>
</div>