<h1 class="text-2xl font-semibold leading-tight my-5"><i class="fa-regular fa-cogs"></i> Ajustes</h1>

<div class="container">
 <!-- Campos: FullName:string, Description:string, Rules (Array Object(title: string y content:string)), Buttons (Array Object(title: string y url:string)) -->
@if(!isLoading){
 <form 
  name="form"
  class="w-full max-w-3xl mx-auto block gap-3 justify-center"
  [formGroup]="formCommunity"
  >
  <div class="card bg-base-200 p-4 mb-5">
    <h2 class="card-title"><i class="fa-solid fa-input-text"></i>&nbsp;Nombre completo</h2>
    <div class="block md:flex items-center gap-3 my-2">
      <label class="form-control w-full my-2">
       <span class="label-text">Introduce el enlace de una imagen</span>
       
       <div class="input input-bordered flex items-center gap-2 my-2">
        <i class="fa-solid fa-input-text"></i>
        <input type="text" class="grow" placeholder="Spiral Community" formControlName="fullname"/>
      </div>
      </label>
     </div>

     @if(formCommunity.controls['fullname'].errors && formCommunity.controls['fullname'].touched) {
      <div class="alert alert-error flex my-2">
        <i class="fa-regular fa-circle-xmark"></i>
        @if(formCommunity.controls['fullname'].errors['required']) {
          El nombre completo es obligatorio
        }
        @if(formCommunity.controls['fullname'].errors['minlength']) {
          El nombre completo debe tener al menos 3 caracteres
        }
        @if(formCommunity.controls['fullname'].errors['maxlength']) {
          El nombre completo debe tener como máximo 60 caracteres
        }
      </div>

     }

    </div>
    <div class="card bg-base-200 p-4 mb-5">
      <h2 class="card-title"><i class="fa-solid fa-subtitles"></i>&nbsp;Descripción</h2>
      <div class="block md:flex items-center gap-3 my-2">
        <label class="form-control w-full my-2">
         <span class="label-text mb-2
         ">Agrega una descripción</span>
          <textarea type="text" class="textarea textarea-bordered textarea-lg" placeholder="Lorem Ipsum Dolor Sit Amet " formControlName="description"></textarea>
        </label>
       </div>

       @if(formCommunity.controls['description'].errors && formCommunity.controls['description'].touched) {
        <div class="alert alert-error flex my-2">
          <i class="fa-regular fa-circle-xmark"></i>

          @if(formCommunity.controls['description'].errors['maxlength']) {
            La descripción debe tener como máximo 400 caracteres
          }
        </div>
       }
      </div>
      <div class="card bg-base-200 p-4 mb-5">
        <h2 class="card-title"><i class="fa-solid fa-head-side"></i>&nbsp;Foto de perfil</h2>
        <div class="block md:flex items-center gap-3 my-2">
         @if(complectCommunity.profile_picture){
          <app-avatar-frame [profile_picture]="complectCommunity.profile_picture" profile_size="large" frame_name="none"/>
        }
         <label class="form-control w-full my-2">
          <span class="label-text">Introduce el enlace de una imagen</span>
          
          <div class="input input-bordered flex items-center gap-2 my-2">
           <i class="fa-regular fa-head-side"></i>
           <input type="text" class="grow" placeholder="https://i.imgur.com/wX5XykY.png?1" formControlName="profile_picture"/>
         </div><span class="label-text-alt">Formatos permitidos JPG, JPEG, PNG y GIF</span>
         </label>
        </div>

        @if(formCommunity.controls['profile_picture'].errors && formCommunity.controls['profile_picture'].touched) {
          <div class="alert alert-error my-2">
           <i class="fa fa-exclamation-circle"></i>
            @if(formCommunity.controls['profile_picture'].errors['minLengthIfNotEmpty']) {
              El enlace de imagen de perfil debe tener al menos 6 caracteres
            }
            @if(formCommunity.controls['profile_picture'].errors['maxLength']) {
              El enlace de imagen de perfil debe tener como máximo 40 caracteres
            }
            @if(formCommunity.controls['profile_picture'].errors['customInvalidUrl']) {
              El enlace de imagen de perfil no es válido
            }
            @if(formCommunity.controls['profile_picture'].errors['invalidImageExtension']) {
              El enlace de imagen de perfil no tiene una extensión válida
            }
          </div>
      
         }
        </div>
        <div class="card bg-base-200 p-4 my-5">
          <h2 class="card-title"><i class="fa-regular fa-image"></i> Foto de portada</h2>
          <div class="block md:flex items-center gap-3 my-2">
           @if(complectCommunity.banner_picture){
             <div class="w-full md:w-64 h-24 rounded-lg" 
             [style.background-image]="'url(' + complectCommunity.banner_picture + ')' "
             [style.background-size]="'cover'"
             [style.background-position]="'center'"
             ></div>
           }
           <label class="form-control w-full my-2">
            <span class="label-text">Introduce el enlace de una imagen</span>
            
            <div class="input input-bordered flex items-center gap-2 my-2">
             <i class="fa-solid fa-image"></i>
             <input type="text" class="grow" placeholder="https://i.imgur.com/wX5XykY.png?1" formControlName="banner_picture"/>
           </div><span class="label-text-alt">Formatos permitidos JPG, JPEG, PNG y GIF</span>
           </label>
          </div>
          </div>
    </form> 
      <div class="card bg-base-200 p-4 mb-5">
        <h2 class="card-title"><i class="fa-regular fa-file-lines"></i>&nbsp;Reglas</h2>
        <div class="overflow-x-auto mt-5">
          <table class="table table-zebra">

            <tbody>
              @for (rule of rules(); track $index) {
              <tr class="hover">
                <td>
                  <strong>{{rule.title}}</strong>
                  <p>{{rule.content}}</p>
                </td>
                <th>
                  <button type="btn" class="btn btn-error btn-outline btn-xs" (click)="deleteRule($index)">Eliminar</button>
                </th>
              </tr>             
             }
             @empty {
              <tr>
                <td colspan="2"><i class="fa-regular fa-circle-xmark"></i> No hay reglas</td>
              </tr>
             }
          </table>
        </div>
        <div class="divider my-2"></div>
        @if(ruleTitleInput.length==0){
        <div class="alert alert-error flex my-2">
          <i class="fa-regular fa-circle-xmark"></i>
          <span>
            <h3 class="font-bold">El titulo de la regla es obligatorio</h3>
          </span>
        </div>
        }

        <label class="form-control w-full">         
          <div class="input input-bordered flex items-center gap-2">
           <i class="fa-solid fa-input-text"></i>
           <input type="text" class="grow" placeholder="Titulo de la regla" [ngModelOptions]="{standalone: true}" [(ngModel)]="ruleTitleInput"/>
         </div>
         </label>
        <textarea type="text" class="textarea textarea-bordered mt-2" placeholder="Descripcion de la regla" [ngModelOptions]="{standalone: true}" [(ngModel)]="ruleContentInput"></textarea>
        <button type="button" class="btn btn-outline btn-info mt-2" (click)="addRule()" [disabled]="ruleTitleInput.length==0">Añadir regla</button>
      </div>

      <div class="card bg-base-200 p-4 mb-5">
        <h2 class="card-title"><i class="fa-regular fa-file-lines"></i>&nbsp;Botones</h2>
        
        <ul class="my-2 flex">
          @for (button of buttons(); track $index) {
          <li class="join m-1">
            <span class="btn btn-sm btn-{{button.color}} join-item">{{button.title}}</span>
            <span class="btn join-item btn-sm btn-neutral" (click)="deleteButton($index)"><i class="fa-regular fa-bucket text-xs"></i></span>
          </li>
        }
        </ul>
        <div class="divider my-2"></div>

        <form [formGroup]="formButtons" (ngSubmit)="addButton()">
        <label class="form-control w-full my-2">
          <span class="label-text">Introduce el titulo del boton</span>
          
          <div class="input input-bordered flex items-center gap-2 my-2">
           <i class="fa-solid fa-input-text"></i>
           <input type="text" class="grow" placeholder="Titulo Boton" formControlName="buttonTitle"/>
         </div>
         </label>
         @if(formButtons.controls['buttonTitle'].errors && formButtons.controls['buttonTitle'].touched) {
          <div class="alert alert-error flex my-2">
            <i class="fa-regular fa-circle-xmark"></i>
            @if(formButtons.controls['buttonTitle'].errors['required']) {
              El titulo del boton es obligatorio
            }
            @if(formButtons.controls['buttonTitle'].errors['maxlength']) {
              El titulo del boton debe tener un maximo de 40 caracteres
            }
            @if(formButtons.controls['buttonTitle'].errors['minlength']) {
              El titulo del boton debe tener un minimo de 3 caracteres
            }
          </div>
         }

         <label class="form-control w-full my-2">
          <span class="label-text">Selecciona un color para el boton</span>
          <select class="select select-bordered w-full my-2" formControlName="buttonColor">
           @for (btncolor of buttonColorList; track $index) {
            <option value="{{btncolor}}">{{btncolor}}</option>
          }
          </select>
        </label>
        @if(formButtons.controls['buttonColor'].errors && formButtons.controls['buttonColor'].touched) {
          <div class="alert alert-error flex my-2">
            <i class="fa-regular fa-circle-xmark"></i>
            @if(formButtons.controls['buttonColor'].errors['required']) {
              El color del boton es obligatorio
            }
          </div>
        }

        <label class="form-control w-full my-2">
          <span class="label-text">Introduce el enlace del boton</span>
          
          <div class="input input-bordered flex items-center gap-2 my-2">
           <i class="fa-solid fa-link"></i>
           <input type="text" class="grow" placeholder="https://www.google.es/" formControlName="buttonUrl"/>
         </div>
         </label>

         @if(formButtons.controls['buttonUrl'].errors && formButtons.controls['buttonUrl'].touched) {
          <div class="alert alert-error flex my-2">
            <i class="fa-regular fa-circle-xmark"></i>
            @if(formButtons.controls['buttonUrl'].errors['required']) {
              El enlace del boton es obligatorio
            }
            @if(formButtons.controls['buttonUrl'].errors['maxlength']) {
              El enlace del boton debe tener un maximo de 200 caracteres
            }
            @if(formButtons.controls['buttonUrl'].errors['minlength']) {
              El enlace del boton debe tener un minimo de 10 caracteres
            }
            @if(formButtons.controls['buttonUrl'].errors['customInvalidUrl']) {
              El enlace del boton no es válido
            }
          </div>
         }


        <button type="button" class="btn btn-outline btn-info btn-block mt-2" [disabled]="!formButtons.valid" (click)="addButton()">Añadir boton</button>
      </form>
      </div>

      <div class="card bg-base-200 p-4 mb-5">
        <button class="btn btn-primary" [disabled]="!formCommunity.valid" (click)="onSubmit()">Guardar</button>
      </div>
    }
    @else {
      <div class="card bg-base-200 p-4 mb-5">
        <i class="fa-regular fa-spinner text-2xl animate-spin"></i>
        <span class="text-lg">Cargando...</span>
      </div>
    }