<div class="relative flex flex-col items-center card card-bordered p-4 shadow-md">
 <div class="relative flex h-32 w-full justify-center rounded-xl bg-cover">
     <img src="https://i.imgur.com/e7vsUO9.jpg" class="absolute flex h-32 w-full justify-center rounded-xl bg-cover"> 
     <div class="absolute -bottom-12 flex items-center justify-center rounded-full">
      <app-avatar-frame profile_picture="https://i.imgur.com/gj67wbp.jpg" profile_size="large" frame_name="tech"></app-avatar-frame>
     </div>
 </div> 
 <div class="mt-16 flex flex-col items-center">
     <h4 class="text-xl font-bold">
    AndresCS
     </h4>
     <p class="text-base font-normal"><i class="fa-regular fa-at mr-1 text-sm"></i>andres</p>
 </div> 
 <div class="mt-6 mb-3 flex gap-14 md:!gap-14">
     <div class="flex flex-col items-center justify-center">
     <p class="text-2xl font-bold">17</p>
     <p class="text-sm font-normal">Publicaciones</p>
     </div>
     <div class="flex flex-col items-center justify-center">
     <p class="text-2xl font-bold">
         9.7K
     </p>
     <p class="text-sm font-normal">Seguidores</p>
     </div>
     <div class="flex flex-col items-center justify-center">
     <p class="text-2xl font-bold">
         434
     </p>
     <p class="text-sm font-normal">Seguidos</p>
     </div>
 </div>
 <div class="bg-base-200 w-full h-fit p-3 flex items-center justify-center rounded-xl">
     <button class="btn btn-primary">Seguir</button>
</div>