  <div class="sidebar-top-wrapper">
    <div class="sidebar-top">
      <a class="logo__wrapper" href="#">
        <img alt="Logo" class="logo-small" src="https://i.imgur.com/2qCcacN.png"> 
        <span class="hide company-name font-['Righteous']">Spiral</span>
      </a>
    </div><button class="btn btn-circle btn-outline-primary" id="btnclose" type="button"><i class="fa-regular fa-xmark text-xl"></i></button>
  </div>
  <div class="sidebar-links-wrapper overflow-y-scroll menu-bar">
    <div class="sidebar-links">
      <ul class="menu content-center">
        <li>
          <a class="tooltip flex text-left active" href="#dashboard" title="Dashboard">
            <i class="fa-regular fa-home text-lg"></i>
             <span class="hide">Inicio</span>
          </a>
        </li>
        <li>
          <a class="tooltip flex text-left" href="#team" title="Team">
            <i class="fa-regular fa-planet-moon text-lg"></i>
            <span class="hide">Explorar</span>
        </a>
        </li>
        <li>
          <a class="tooltip flex text-left" href="#onboarding">
            <i class="fa-regular fa-people-group text-lg"></i>
            <span class="hide">Comunidades</span>
          </a>
        </li>
        <li>
          <a class="tooltip flex text-left" href="#onboarding">
            <div class="indicator">
              <span class="indicator-item badge badge-secondary badge-xs text-xs">99+</span> 
              <i class="fa-regular fa-message-smile text-lg"></i>
              </div>
            <span class="hide">Mensajes</span>
          </a>
        </li>
        <li>
          <a class="tooltip flex text-left" href="#onboarding"> 
            <i class="fa-regular fa-store text-lg"></i>
            <span class="hide">Mercado</span>
          </a>
        </li>
        <li>
          <a class="tooltip flex text-left" href="#onboarding"> 
            <i class="fa-regular fa-bookmark text-lg"></i>
            <span class="hide">Guardado</span>
          </a>
        </li>

      </ul>
      <h2>Private</h2>
      <div class="divider"></div>
      <ul class="menu content-center">						<li>
          <a class="tooltip flex text-left" href="#onboarding">
              <i class="fa-regular fa-flask text-lg"></i>
            <span class="hide">DevZone</span>
          </a>
        </li>
      </ul>			
    </div>
  </div>
  <div class="sidebar__profile">
    <button class="btn btn-accent px-5 flex w-full"><i class="fa-regular fa-brush text-xl"></i> <span class="hide">Personalización</span></button>
  </div>


<!--    
    <a href="https://flowbite.com/" class="hidden lg:flex justify-center items-center -ms-3 mb-5">
      <img src="assets/images/spiral.png" class="h-6 me-3 sm:h-9" alt="Spiral Logo">
      <span class="self-center text-3xl font-semibold whitespace-nowrap font-['Righteous'] color-logo">Spiral</span>
   </a> -->

   
    <!-- <div class="md:relative mx-auto px-0 xl:px-6">

      <app-userzone class="hidden md:block"></app-userzone>

      <ul
        class="menu menu-horizontal p-0 lg:menu-vertical list-reset flex flex-row md:flex-col text-center md:text-left">
        <li class="my-1 flex-1">
          <a
            href="#"
            class="block active py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-regular fa-home px-0 md:px-3"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">
              Inicio</span>
          </a>
        </li>
        <li class="my-1 flex-1">
          <a
            href="#"
            class="block text-center md:text-left py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-duotone fa-planet-moon px-0 md:px-3"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">
              Explorar</span>
          </a>
        </li>
        <li class="my-1 flex-1">
          <a
            href="#"
            class="block text-center md:text-left py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-duotone fa-people-group px-0 md:px-3"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">
              Comunidades</span>
          </a>
        </li>
        <li class="my-1 flex-1 dropdown dropdown-top sm:dropdown-bottom w-full">
          <a
            tabindex="0"
            class="block text-center md:text-left py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-regular fa-badge-sheriff px-0 md:px-3"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">Panel Admin</span>
            <i class="fa-regular fa-down px-0 md:px-3"></i>
          </a>
          <ul
            tabindex="0"
            class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52 mt-4">
            <li><button>Item 1</button></li>
            <li><button>Item 2</button></li>
          </ul>
      </li>
        <li class="my-1 flex-1">
          <a
            href="#"
            class="block text-center md:text-left py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-regular fa-bell px-0 md:px-3"></i>
            <span class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block">
              Notificaciones</span>
          </a>
        </li>
        
        <li class="my-1 flex-1">
          <a
            href="#"
            class="block text-center md:text-left py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-duotone fa-bookmark px-0 md:px-3"></i
            ><span
              class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block"
              >Guardado</span
            >
          </a>
        </li>
        <li class="my-1 flex-1">
          <a
            href="#"
            class="block text-center md:text-left py-1 md:py-3 pl-1 align-middle color-logo">
            <i class="fa-duotone fa-flask px-0 md:px-3"></i
            ><span
              class="pb-1 md:pb-0 text-xs md:text-base block md:inline-block"
              >Test</span
            >
          </a>
        </li>

      </ul>
    </div> -->