<div class="container max-w-4xl mx-auto mt-4">
 <h1 class="text-2xl font-semibold leading-tight my-5"><i class="fa-regular fa-user"></i>&nbsp;Ajustes del Perfil</h1>
@if(!isLoading){


 <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="card bg-base-200 p-4 mb-5">
  <h2 class="card-title"><i class="fa-solid fa-head-side"></i>&nbsp;Foto de perfil</h2>
  <div class="block md:flex items-center gap-3 my-2">
   @if(complectUser.profile_picture){
    <app-avatar-frame [profile_picture]="complectUser.profile_picture" profile_size="large" [frame_name]="complectUser.profile_picture_frame"/>
    <!-- <div class="avatar items-center">
    <div class="w-28 rounded-full">
     <img [src]="complectUser.profile_picture" />
    </div>
   </div> -->
  }
   <label class="form-control w-full my-2">
    <span class="label-text">Introduce el enlace de una imagen</span>
    
    <div class="input input-bordered flex items-center gap-2 my-2">
     <i class="fa-regular fa-head-side"></i>
     <input type="text" class="grow" placeholder="https://i.imgur.com/wX5XykY.png?1" formControlName="profile_picture"/>
   </div><span class="label-text-alt">Formatos permitidos JPG, JPEG, PNG y GIF</span>
   </label>
  </div>
  <div class="divider my-0.5"><i class="fa-regular fa-frame"></i> Marco del Avatar</div>
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-3">


  
  <div class="form-control">
    <label class="label cursor-pointer">
      <span class="label-text">Red pill</span> 
      <input type="radio" name="radio-10" class="radio checked:bg-red-500" checked />
    </label>
  </div>
 
</div>
  </div>

  <div class="card bg-base-200 p-4 my-5">
   <h2 class="card-title"><i class="fa-regular fa-image"></i> Foto de portada</h2>
   <div class="block md:flex items-center gap-3 my-2">
    @if(complectUser.banner_picture){
      <div class="w-full md:w-64 h-24 rounded-lg" 
      [style.background-image]="'url(' + complectUser.banner_picture + ')' "
      [style.background-size]="'cover'"
      [style.background-position]="'center'"
      ></div>
    }
    <label class="form-control w-full my-2">
     <span class="label-text">Introduce el enlace de una imagen</span>
     
     <div class="input input-bordered flex items-center gap-2 my-2">
      <i class="fa-solid fa-image"></i>
      <input type="text" class="grow" placeholder="https://i.imgur.com/wX5XykY.png?1" formControlName="banner_picture"/>
    </div><span class="label-text-alt">Formatos permitidos JPG, JPEG, PNG y GIF</span>
    </label>
   </div>
   </div>


   <!-- Ubicacion -->
   <div class="card bg-base-200 p-4 my-5">
    <h2 class="card-title"><i class="fa-regular fa-map-marker"></i> Ubicación</h2>
    <label class="form-control w-full my-2">
     <span class="label-text">Introduce tu ubicación</span>
     
     <div class="input input-bordered flex items-center gap-2 my-2">
      <i class="fa-solid fa-map"></i>
      <input type="text" class="grow" placeholder="Madrid, Españita" formControlName="ubication"/>
    </div>
    </label>
   </div>

   <div class="card bg-base-200 p-4 my-5">
    <h2 class="card-title"><i class="fa-regular fa-book-user"></i> Biografía</h2>
    <label class="form-control">
     <div class="label">
       <span class="label-text">Introduce tu biografia</span>
     </div>
     <textarea class="textarea textarea-bordered h-24" placeholder="Agrega una descripción" formControlName="description"></textarea>
   </label>
   </div>

   <!-- Intereses -->
  <div class="card bg-base-200 p-5 mb-5">
   <h2 class="card-title"><i class="fa-regular fa-gamepad"></i> Intereses / Hobbies</h2>
   <div class="form-control w-full my-2">
    <label class="label-text">Introduce tus intereses / hobbies</label>
    <div class="flex gap-3 my-2">
    <div class="input input-bordered flex flex-1 items-center gap-2">
     <i class="fa-solid fa-gamepad"></i>
     <input type="text" class="grow" placeholder="Hacer ejercicio, jugar videojuegos, leer" [ngModelOptions]="{standalone: true}" [(ngModel)]="interestInput"/>
    </div>
    <button class="btn btn-primary" (click)="addInterest()"><i class="fa-regular fa-plus"></i>&nbsp;Añadir</button>
   </div>
 
   <div class="flex gap-3 my-2">
    @if(interests().length > 0){
      <ul>
      @for (interest of interests(); track $index) {
        <li class="join m-1">
          <span class="badge join-item badge-lg badge-secondary">{{interest}}</span>
          <span class="btn join-item btn-xs btn-neutral" (click)="removeInterest($index)"><i class="fa-regular fa-bucket text-xs"></i></span>
        </li>
      }
    </ul>
    }
    @else {
      <p>No hay intereses... que aburrido/a/e</p>
    }

   </div>
  </div>
   </div>

   <!-- Redes Sociales -->
   <div class="card bg-base-200 p-4 my-5">
    <h2 class="card-title"><i class="fa-regular fa-share-nodes"></i> Redes Sociales</h2>
    <label class="form-control w-full my-2">
     <div class="label">
       <span class="label-text">Introduce tus redes</span>
     </div>
     <textarea class="textarea textarea-bordered h-24" placeholder="Agrega una descripción"></textarea>
   </label>
   </div>

<!-- Boton de guardar -->
   <div class="card bg-base-200 p-4 my-5 flex justify-center">
    <button class="btn btn-primary" [disabled]="!profileForm.valid"><i class="fa-solid fa-floppy-disk"></i> Guardar ajustes del perfil</button>
    <!-- <button class="btn btn-primary"><i class="fa-regular fa-floppy-disk"></i>&nbsp;Guardar</button> -->
   </div>

 </form>
}
@else {
  <div class="card bg-base-200 p-4 my-5 flex justify-center">
    <i class="fa-regular fa-spinner text-2xl animate-spin"></i>
  </div>
}
 </div>