<!-- Open the modal using ID.showModal() method -->
<button class="btn tooltip tooltip-bottom flex" data-tip="Crear publicación" onclick="create_post.showModal()"><i class="fa-regular fa-circle-plus"></i> <span class="hidden lg:block">Crear publicación</span></button>
<dialog id="create_post" class="modal">
  <div class="modal-box w-11/12 max-w-screen-md p-5">
    <h3 class="font-bold text-lg"><i class="fa-regular fa-circle-plus"></i> Crear publicación</h3>
    <form method="dialog">
      <button class="btn btn-sm btn-circle btn-ghost absolute right-4 top-4">✕</button>
    </form>
    <div class="flex flex-col my-5">
    <span class="text-sm mb-2">Elige el tipo de publicación</span>
    <div class="bg-base-200 w-full rounded-box justify-center flex">
      
    <ul class="menu menu-vertical lg:menu-horizontal gap-3">
      <li>
        <a [className]="publicationType == 'text' ? 'active' : ''" (click)="setPublicationType('text')"><i class="fa-regular fa-pen-to-square"></i> Texto</a>
      </li>
      <li>
        <a [className]="publicationType == 'image' ? 'active' : ''" (click)="setPublicationType('image')"><i class="fa-regular fa-image"></i>Imagen</a>
      </li>
      <li>
        <a [className]="publicationType == 'video' ? 'active' : ''" (click)="setPublicationType('video')"><i class="fa-regular fa-video"></i>Video</a>
      </li>
      <li class="disabled">
        <a><i class="fa-regular fa-link"></i>URL</a>
      </li>
    </ul></div>
    </div>
    <form  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    @switch (publicationType) {

     @case ("image") {
      <!-- <app-image-entry (imagesChange)="onImagesChange($event)"/> -->
      <app-image-entry (imagesChange)="onImagesChange($event)"/>   
     }
     @case ("url") {
      <div class="form-control">
        <div class="label">
          <span class="label-text">Introduce un enlace a Twitter, Reddit o una pagina web</span>
        </div>
      <div class="flex mt-1 mb-5">
        <input type="text" class="input input-bordered flex-1 mr-3" placeholder="Introduce un enlace">
        <button class="btn btn-outline btn-secondary"><i class="fa-regular fa-link-simple"></i>Guardar enlace</button>
      </div>
      </div>

     }    
      @case ("video") {

        <div class="form-control">
        <div class="label">
          <span class="label-text">Introduce el enlace del video de Youtube</span>
        </div>
        <div class="flex mt-1 mb-5">
          <input type="text" 
          class="input input-bordered flex-1 mr-3"
          [(ngModel)]="inputURL" 
          [ngModelOptions]="{standalone: true}" 
          name="youtubeUrl" 
          placeholder="https://www.youtube.com/watch?v=9c8QJB5kfPs">
          <button class="btn btn-outline btn-secondary" (click)="checkYoutubeVideo()"><i class="fa-regular fa-play-circle"></i>Añadir URL</button>
        </div> 
      @if(isYoutubeUrlValid) {
            <iframe width="560" height="315" [src]="getEmbedUrl(youtubeUrl)" frameborder="0" allowfullscreen></iframe>
          }
      </div>
      }
     @default {}
    }
    <div class="form-control">
      <div class="label">
        <span class="label-text">¿En que estas pensando?</span>
      </div>
      <textarea rows="3" class="textarea textarea-bordered textarea-lg w-full" formControlName="postInfo"
       placeholder="¿En que estas pensando" id="text-input"></textarea>
    </div>
    <label class="form-control w-full">
      <div class="label">
        <span class="label-text">Elige donde crear la publicación</span>
      </div>
      <select class="select select-bordered" formControlName="postCommunity"> 
        <option value="global">Global</option>
          @if(user.communities){
            @for (community of user.communities; track community._id) {
              <option value="{{community.community._id}}">{{community.community.shortname}}: {{community.community.fullname}}</option>
            }
          }
      </select>
      </label>  
   <button class="btn btn-primary w-full mt-2" type="submit" [disabled]="!profileForm.valid">Publicar</button>
  </form>
  </div>
</dialog>