<div class="flex flex-col max-w-140 w-full card card-bordered shadow-md my-5">
  <!---->
  <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
    <app-avatar-frame
      class="mr-4"
      profile_picture="https://i.imgur.com/gj67wbp.jpg"
      profile_size="small"
      frame_name="flames"
    ></app-avatar-frame>
    <div class="flex flex-col">
      <div class="flex"><span class="font-semibold leading-none">AndresCS</span>
        <span class="text-sm text-secondary leading-none ml-1"
          ><i class="fa-regular fa-at text-sm"></i>andres</span>  
        </div>
        <span class="text-sm italic leading-none mt-1"
        ><i class="fa-regular fa-clock"></i>&nbsp; Hace 4 horas</span
      >
    </div>

    <div class="dropdown dropdown-end ml-auto -mr-4">
    <button tabindex="2" role="button"
      class="btn btn-ghost-circle  tooltip" data-tip = "Opciones">
      <i class="fa-regular fa-ellipsis-v"></i>
    </button>
      <ul tabindex="2" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a><i class="fa-regular fa-pencil"></i> Editar</a></li>
        <li><a><i class="fa-regular fa-trash-alt"></i> Eliminar</a></li>
        <li><a><i class="fa-regular fa-flag"></i> Reportar</a></li>
        <li><a><i class="fa-regular fa-eye-slash"></i> Ocultar</a></li>
      </ul>
    </div>
  </div>
  <div class="mx-6 sm:mx-8 mt-2 mb-6">
    El arco de la isla del futuro de One Piece se está calentando, y los fanáticos están ansiosos por ver qué sucederá a continuación.
  </div>
  <div class="relative mb-4">
    <img src="https://sportshub.cbsistatic.com/i/2023/11/13/ac400fa1-658f-42d6-abe7-8df0ac603629/one-piece-future-island-arc-manga.jpg" alt="Card cover image" class="h-80 w-full object-cover">
  </div>
  <div class="flex items-center mx-3 sm:mx-5">
    <div class="dropdown dropdown-top dropdown-hover">
      <div tabindex="0" role="button" class="btn m-1"><span class="font-bold text-red-600">❤️ Me encanta</span></div>
      <div tabindex="0" class="dropdown-content z-[1] card card-compact w-64 p-2 shadow bg-base-100 text-primary-content">
        <div class="grid grid-cols-2 md:grid-cols-4 gap-2">
          <button class="btn btn-md text-xl">👍</button>
          <button class="btn btn-md btn-active text-xl">❤️</button>
          <button class="btn btn-md text-xl">🥰</button>
          <button class="btn btn-md text-xl">😎</button>
          <button class="btn btn-md text-xl">😂</button>
          <button class="btn btn-md text-xl">😲</button>
          <button class="btn btn-md text-xl">😭</button>
          <button class="btn btn-md text-xl">😡</button>
        </div>
      </div>
    </div>
    <button class="px-3 mr-1 btn btn-ghost">
      <i class="fa-regular fa-comment"></i>
      <span class="ml-1">Comentar</span>
      </button
    >
    <span class="flex-auto"></span>
    


    <div class="dropdown dropdown-top dropdown-end">
      <button class="px-3 mr-1 btn btn-ghost">
        <i class="fa-regular fa-share-alt"></i>
        <span class="badge badge-info">4</span>
      </button>
      <div tabindex="3" class="dropdown-content z-[1] card card-compact w-64 p-2 shadow bg-base-100">
        <div class="card-body">
          <span class="card-title">Compartir publicacion</span>
          <div class="grid grid-cols-2 gap-2">
            <button class="btn btn-md bg-blue-600 hover:bg-blue-700 text-white"><i class="fa-brands fa-facebook"></i></button>
            <button class="btn btn-md bg-gray-500 hover:bg-gray-600"><i class="fa-brands fa-x-twitter"></i></button>
            <button class="btn btn-md bg-orange-600 hover:bg-orange-700 text-white"><i class="fa-brands fa-reddit"></i></button>
            <button class="btn btn-md bg-green-500 hover:bg-green-600 text-white"><i class="fa-brands fa-whatsapp"></i></button>
            </div>
            <button class="btn btn-primary btn-md"><i class="fa-regular fa-clipboard"></i> Copiar enlace</button>
        </div>
      </div>
    </div>
    
    <button class="px-3 btn btn-ghost">
      <i class="fa-regular fa-bookmark"></i>
      <span class="badge badge-info">4</span>
      
    </button>
  </div>
  <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6" />
  <div class="flex  sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
    <div class="flex items-center join w-full md:w-fit">
      <span class="btn btn-outline border-inherit no-animation join-item">❤️ 12</span>
      <span class="btn btn-outline border-inherit no-animation join-item">😎 3</span>
      <span class="btn btn-outline border-inherit no-animation join-item">😂 5</span> 
      <button class="btn btn-outline tracking-tight join-item"><i class="fa-regular fa-circle-plus"></i> 25 reacciones</button>
    </div>
   
  </div>
</div>
