@if(!isLoading){


<div class="flex flex-col min-h-screen">
      <div class="container mx-auto flex flex-col items-start justify-center">
        
      <header class="w-full relative">
    
        <div
          class="w-full h-40 bg-cover bg-center rounded-3xl"
          [style.background-image]="'url(' + (community.banner_picture || 'https://picsum.photos/seed/' + community.shortname + '/1280/720') + ')'"
        ></div>
        <div class="block md:flex justify-between items-center w-full px-6">
          
        <div class="block md:flex items-center gap-4">
          <div class="w-24 h-24 rounded-full overflow-hidden -mt-16 border-4 bg-base-200 border-[var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)))]">
            <img [src]="community.profile_picture" alt="Profile Picture" class="w-full h-full object-cover" />
          </div>
          <div>
            <h1 class="text-2xl font-bold">{{ community.fullname }}</h1>
            <p class="text-secondary"><i class="fa-regular fa-circle-s"></i>/{{community.shortname}}</p>
          </div>
        </div>
        <div class="flex items-center gap-4 mt-4">
          @if (!isMemberOfTheCommunity) {  
            <button class="btn btn-success" (click)="joinCommunity()">
              <i class="fa-regular fa-door-open"></i>Unirse</button>
          }
          @else if(isMemberOfTheCommunity && !isOwnerOfCommunity){
            <button class="btn btn-error" (click)="leaveCommunity()">
              <i class="fa-regular fa-door-closed"></i>Salir</button>
          }   
          @else {
            <button class="btn btn-warning" (click)="changeOwner()">
              <i class="fa-regular fa-badge-sheriff"></i> Cambiar Dueño</button>
            <button class="btn btn-error" (click)="deleteCommunity()">
              <i class="fa-regular fa-trash-can"></i>Eliminar Comunidad</button>
          }
        </div>
      </div> 
    </header>
    <div class="card card-bordered container  bg-base-200/50 card-compact items-center my-2">
      <ul class="menu menu-vertical md:menu-horizontal w-fit rounded-box gap-2">
       <li class="block lg:hidden"><a routerLink="/community/{{ communityShortName }}/about" routerLinkActive="active"><i class="fa-regular fa-earth-europe"></i>&nbsp;Sobre la comunidad</a></li>
       <li><a routerLink="/community/{{ communityShortName }}/feed" routerLinkActive="active"><i class="fa-regular fa-memo"></i>&nbsp;Publicaciones</a></li>
       <li><a routerLink="/community/{{ communityShortName }}/members" routerLinkActive="active"><i class="fa-solid fa-users"></i>&nbsp;Miembros</a></li>
       @if(isOwnerOfCommunity){<li><a routerLink="/community/{{ communityShortName }}/settings" routerLinkActive="active"><i class="fa-regular fa-cogs"></i>&nbsp;Ajustes</a></li>}
      </ul>
      </div>
      </div>
   

      <!-- TODO: Revisar responsive  -->
    <!-- <div class="container mx-auto block lg:flex flex-row md:flex-row-reverse gap-8 py-8">
       -->
       <div class="mx-auto max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
      <!-- <div class="w-full md:w-80 flex-shrink-0 mb-3 md:mb-0"> -->
        <div class="lg:col-span-12 xl:col-span-8">
        <router-outlet></router-outlet>
      </div>
      <!-- <div class="flex-1 max-w-3xl"> -->
        <div class="hidden xl:col-span-4 xl:block">
        <app-about-us class="hidden lg:block"></app-about-us>
        
      </div>
    </div>
  </div>
} @else {
  <div class="flex items-center justify-center h-screen">
    <div class="fa-regular fa-spinner animate-spin"></div>
  </div>
}