<div class="flex flex-col min-h-screen">
    <header class="relative">
      <div class="container mx-auto flex flex-col items-start justify-center">
        <div
          class="w-full h-40 bg-cover bg-center rounded-3xl"
          style="background-image:url('https://media.cdn.community.lambdageneration.com/backgrounds/1680017288334BfDICUCdBNBfDf_d.jpg?size=normal')"
        ></div>
        <div class="block md:flex justify-between items-center w-full px-6">
          
        <div class="block md:flex items-center gap-4">
          <div class="w-24 h-24 rounded-full overflow-hidden -mt-16 border-4 border-[var(--fallback-b1,oklch(var(--b1)/var(--tw-bg-opacity)))]">
            <img src="https://media.cdn.community.lambdageneration.com/avatars/1663001799988DLCWBqFBCCbDfCAB.png?size=mega" alt="Profile Picture" class="w-full h-full object-cover" />
          </div>
          <div>
            <h1 class="text-2xl font-bold">Black Mesa Research Facility</h1>
            <p class="text-secondary"><i class="fa-regular fa-circle-s"></i>/BlackMesa</p>
          </div>
        </div>
        <div class="flex items-center gap-4 mt-4">
          <button class="btn btn-primary">Crear Publicacion</button>
          <button class="btn btn-success">Unirse</button>
        </div>
      </div>
      </div>
    </header>
    <div class="card card-bordered bg-base-200/50 card-compact items-center my-2">
      <ul class="menu menu-vertical md:menu-horizontal w-fit rounded-box gap-2">
       <li class="block md:hidden"><a routerLink="/community/{{ communityshortname }}/about" routerLinkActive="active"><i class="fa-regular fa-earth-europe"></i>&nbsp;Sobre blackmesa</a></li>
       <li><a routerLink="/community/{{ communityshortname }}/feed" routerLinkActive="active"><i class="fa-regular fa-earth-europe"></i>&nbsp;Publicaciones</a></li>
       <li><a routerLink="/community/{{ communityshortname }}/members" routerLinkActive="active"><i class="fa-solid fa-people"></i>&nbsp;Miembros</a></li>
      </ul>
      </div>
    <div class="container mx-auto block md:flex flex-row md:flex-row-reverse gap-8 py-8">
      <div class="w-full md:w-80 flex-shrink-0 mb-3 md:mb-0">
        <app-about-us class="hidden md:block"></app-about-us>
      </div>
      <div class="flex-1">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
