<app-page-title [title]="'Ajustes'" [subtitle]="'¡Personaliza tu perfil y ajusta tus preferencias en nuestra página de ajustes! Haz que tu experiencia en nuestra red social sea única y adaptada a tus necesidades.'" [icon]="'fa-solid fa-user-gear'" [image]="'assets/images/settings.svg'"></app-page-title>
<div class="card card-bordered shadow-md card-compact items-center my-2">
<ul class="menu menu-vertical md:menu-horizontal w-fit rounded-box gap-2">
 <li><a routerLink="/settings/profile" routerLinkActive="active"><i class="fa-solid fa-user"></i> Perfil</a></li>
 <li><a routerLink="/settings/personal" routerLinkActive="active"><i class="fa-solid fa-cog"></i> Personal</a></li>
 <li><a routerLink="/settings/security" routerLinkActive="active"><i class="fa-solid fa-camera-security"></i> Seguridad</a></li>
</ul>
</div>
<router-outlet></router-outlet>
