<app-page-title title="Inicio" subtitle="¡Descubre las nuevas publicaciones de la gente que sigues y de las comunidades que perteneces!" icon="fa-solid fa-house" image="assets/images/feed.svg"></app-page-title>
<div class="card card-bordered shadow-md card-compact items-center my-2">
  <ul class="menu menu-vertical md:menu-horizontal w-fit rounded-box gap-2">
   <li class="text-base lg:text-xl"><a routerLink="/home/following-feed" routerLinkActive="active"><i class="fa-regular fa-person-walking-arrow-right"></i>&nbsp;Publicaciones Seguidos</a></li>
   <li class="text-base lg:text-xl"><a routerLink="/home/communities-feed" routerLinkActive="active"><i class="fa-solid fa-people-group"></i>&nbsp;Publicaciones Comunidades</a></li>
  </ul>
  </div>
  <div class="mx-auto max-w-3xl sm:px-6 lg:grid lg:max-w-7xl lg:grid-cols-12 lg:gap-8 lg:px-8">
    <main class="lg:col-span-12 xl:col-span-8">
      <router-outlet></router-outlet>
    </main>
    <aside class="hidden xl:col-span-4 xl:block">
      <div class="sticky top-4 mt-4 space-y-4">
        <section aria-labelledby="who-to-follow-heading">
          <div class="rounded-lg bg-base-200 shadow">
            <div class="p-6">
              <h2 id="who-to-follow-heading" class="text-base font-medium ">A quién seguir</h2>
              <div class="mt-6 flow-root">
                <ul role="list" class="-my-4 divide-y divide-gray-500/50">
                  
                    <li class="flex items-center space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm font-medium">
                          <a href="#">John Doe</a>
                        </p>
                        <p class="text-sm text-secondary">
                          <a href="#"><i class="fa-regular fa-at text-sm"></i>johndoe</a>
                        </p>
                      </div>
                      <div class="flex-shrink-0">
                        <button type="button" class="inline-flex items-center rounded-xl btn btn-accent btn-xs">
                          <i class="fa-regular fa-user-plus"></i>
                          <span class="ml-1">Seguir</span>
                        </button>
                      </div>
                    </li>
                  
                    <li class="flex items-center space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm font-medium">
                          <a href="#">John Doe</a>
                        </p>
                        <p class="text-sm text-secondary">
                          <a href="#"><i class="fa-regular fa-at text-sm"></i>johndoe</a>
                        </p>
                      </div>
                      <div class="flex-shrink-0">
                        <button type="button" class="inline-flex items-center rounded-xl btn btn-accent btn-xs">
                          <i class="fa-regular fa-user-plus"></i>
                          <span class="ml-1">Seguir</span>
                        </button>
                      </div>
                    </li><li class="flex items-center space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm font-medium">
                          <a href="#">John Doe</a>
                        </p>
                        <p class="text-sm text-secondary">
                          <a href="#"><i class="fa-regular fa-at text-sm"></i>johndoe</a>
                        </p>
                      </div>
                      <div class="flex-shrink-0">
                        <button type="button" class="inline-flex items-center rounded-xl btn btn-accent btn-xs">
                          <i class="fa-regular fa-user-plus"></i>
                          <span class="ml-1">Seguir</span>
                        </button>
                      </div>
                    </li><li class="flex items-center space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1519345182560-3f2917c472ef?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm font-medium">
                          <a href="#">John Doe</a>
                        </p>
                        <p class="text-sm text-secondary">
                          <a href="#"><i class="fa-regular fa-at text-sm"></i>johndoe</a>
                        </p>
                      </div>
                      <div class="flex-shrink-0">
                        <button type="button" class="inline-flex items-center rounded-xl btn btn-accent btn-xs">
                          <i class="fa-regular fa-user-plus"></i>
                          <span class="ml-1">Seguir</span>
                        </button>
                      </div>
                    </li>
                  
                </ul>
              </div>
              <div class="mt-6">
                <a href="#" class="btn btn-info btn-block"><i class="fa-regular fa-plus"></i>Ver más</a>
              </div>
            </div>
          </div>
        </section>
        <section aria-labelledby="trending-heading">
          <div class="rounded-lg bg-base-200 shadow">
            <div class="p-6">
              <h2 id="trending-heading" class="text-base font-medium">Tendecias</h2>
              <div class="mt-6 flow-root">
                <ul role="list" class="-my-4 divide-y divide-gray-500/50">
                  
                    <li class="flex space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="Floyd Miles">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam accusantium facilis quas ducimus. Facilis saepe reprehenderit magni corporis, sed laborum dolorem harum dolorum, dolores ab quidem nihil quos earum id.</p>
                        <div class="mt-2 flex">
                          <span class="inline-flex items-center text-sm">
                            <button type="button" class="btn btn-ghost btn-xs">
                              <i class="fa-regular fa-message"></i>
                              <span class="font-medium ">291</span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </li>
                    <li class="flex space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="Floyd Miles">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam accusantium facilis quas ducimus. Facilis saepe reprehenderit magni corporis, sed laborum dolorem harum dolorum, dolores ab quidem nihil quos earum id.</p>
                        <div class="mt-2 flex">
                          <span class="inline-flex items-center text-sm">
                            <button type="button" class="btn btn-ghost btn-xs">
                              <i class="fa-regular fa-message"></i>
                              <span class="font-medium ">291</span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </li>                    <li class="flex space-x-3 py-4">
                      <div class="flex-shrink-0">
                        <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="Floyd Miles">
                      </div>
                      <div class="min-w-0 flex-1">
                        <p class="text-sm ">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam accusantium facilis quas ducimus. Facilis saepe reprehenderit magni corporis, sed laborum dolorem harum dolorum, dolores ab quidem nihil quos earum id.</p>
                        <div class="mt-2 flex">
                          <span class="inline-flex items-center text-sm">
                            <button type="button" class="btn btn-ghost btn-xs">
                              <i class="fa-regular fa-message"></i>
                              <span class="font-medium ">291</span>
                            </button>
                          </span>
                        </div>
                      </div>
                    </li>
                </ul>
              </div>
              <div class="mt-6">
                <a href="#" class="btn btn-info btn-block"><i class="fa-regular fa-plus"></i>Ver más</a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </aside>
  </div>
