<div class="relative flex flex-col items-center card card-bordered p-4 shadow-md">
 <div class="relative flex h-32 w-full justify-center rounded-xl bg-cover">
     <img src="https://r4.wallpaperflare.com/wallpaper/114/1008/41/one-piece-monkey-d-luffy-hd-wallpaper-9ef4b77cec0a1f27d70d79da37c4809a.jpg" class="absolute flex h-32 w-full justify-center rounded-xl bg-cover"> 
     <div class="absolute -bottom-12 flex items-center justify-center rounded-full">
      <img src="https://i.pinimg.com/736x/81/b8/1b/81b81b38c72e148ce4ddfcae172733f0.jpg" class="h-24 w-24 rounded-full">
     </div>
 </div> 
 <div class="mt-16 flex flex-col items-center">
     <h4 class="text-xl font-bold">
    Strawhats Pirates
     </h4>
     <p class="text-base font-normal"><i class="fa-regular fa-circle-s mr-1 text-sm"></i>strawhats</p>
 </div> 
 <div class="mt-6 mb-3 flex gap-14 md:!gap-14">
     <div class="flex flex-col items-center justify-center">
     <p class="text-2xl font-normal">17</p>
     <p class="text-sm font-bold">Miembros</p>
     </div>
     <div class="flex flex-col items-center justify-center">
    <p class="text-sm font-bold">
      @if (communityMember) {
       Fecha de unión:
     } @else {
       Fecha de creacción:
      }      
     </p>
     <p class="text-sm font-normal">11/04/2024</p>
     </div>
 </div>
 <div class="bg-base-200 w-full h-fit p-3 flex items-center justify-center rounded-xl">
     <button class="btn btn-success">Ver Comunidad <i class="fa-regular fa-chevrons-right"></i></button>
</div>